@model ASP_MVC.Models.Comment.CommentCreateForm



<form asp-action="CreateComment" method="post">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>
    <div class="form-group">
        <label for="Content">Content</label>
        <textarea class="form-control" id="Content" name="Content" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <label for="Note">Rating</label>
        <input type="number" class="form-control" id="Note" name="Note" min="1" max="5" />
    </div>
    <input type="hidden" name="CocktailId" value="@Model.CocktailId" />
    <button type="submit" class="btn btn-primary">Submit Comment</button>
</form>
